.body{
    height: 1024px;
    width: 768px;
    position: fixed;
    background-color: white;
}


.menu{
    background: url(localhost/Imatges/Style/bar_menu.png) repeat-x;
    height: 20px;
    width: 100%;
    font-family: verdana;
    font-size: 12px;
    color: black;
}

.menu span{
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    height: 100%;
    width: 100%;
}

.menu span:hover{background: #1E90FF; color:black;}

.comentari{
    height: 85%;
    width: auto;
    background-color: #DCDCDC;
    font-family: verdana;
    font-size: 15px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.titol{
    font-family: verdana;
    font-size: 20px;
    color: #1E90FF;
    background-color: #808080;
    height: 85%;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.titol span{
    font-family: verdana;
    font-size: 10px;
    color: black;
}

.menuesc{
    height: 10%;
    width: auto; 
}
.menuesc td{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #DCDCDC;
    font-family: verdana;
    font-size: 15px;
    color: black;
}

.menuesc td:hover{background-color: #1E90FF;}

.resultat{
    height: 85%;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #DCDCDC;
    font-family: verdana;
    font-size: 15px;
    color: black;
}

.resultat:hover{background-color: #1E90FF;}

